{% block debut %}

{% endblock %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <title>PUF</title>
            
            <link rel="stylesheet" type="text/css" href="{{ app.request.basePath }}/Styles/style.css" />
            <link rel="shortcut icon" href="{{ app.request.basePath }}/Ressources/Img/favicon.ico" />

        {% endblock %} 

    </head>

    <body>
        {% block header %}
            {% include "header.html.twig" %}
        {% endblock %}

        {% block home %}

        {% endblock %}

        {% block hier %}

        {% endblock %}

        {% block partenariat %}

        {% endblock %}

        {% block quelquesChiffres %}

        {% endblock %}

        {% block licence %}

        {% endblock %}

        {% block master %}

        {% endblock %}

        {% block contact %}

        {% endblock %}

        {% block medias %}

        {% endblock %}

        {% block missions %}

        {% endblock %}

        {% block etudiant %}

        {% endblock %}

        {% block professionnel %}

        {% endblock %}

        {% block chiffre %}

        {% endblock %}

        {% block conditions %}

        {% endblock %}

        {% block mentions %}

        {% endblock %}

        {% block error %}

        {% endblock %}

        <div class="contents">

        </div>

        {% block footer %}
            {% include "footer.html.twig" %}
        {% endblock %}

    </body>
</html>